﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        @Html.RenderStyles()
        <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    </head>
    <body>
        @RenderBody()        
        @Html.RenderScripts()
        @RenderSection("Scripts", false)
    </body>
</html>