﻿@model HomeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ScriptContext Example</h2>

<p>4 datepickers rendered from an editor template. The jQuery UI script that contains the datepicker plugin is 
    added inside of the editor template using the script context Html Helpers and rendered out at the end of the page.</p>

@{ Html.RenderPartial("Partial", "partial 1"); }

@Html.EditorFor(m => m.Date1, "DatePicker")
@Html.EditorFor(m => m.Date2, "DatePicker")
@Html.EditorFor(m => m.Date3, "DatePicker")
@Html.EditorFor(m => m.Date4, "DatePicker")

@Html.Partial("Partial", "partial 2")

<button id="GetDatepicker" type="button">Get Datepicker</button>

@using (Html.BeginScriptContext())
{
    Html.AddScriptFile("~/bundles/scripts/core");
    Html.AddScriptBlock(
        @<script type="text/javascript">
             $(function () { if (console) { console.log('rendered from the view'); } });
         </script>
    );
}

@using (Html.BeginStyleContext())
{
    Html.AddStyleFile("~/Content/Site.css");
}

@section Scripts {
    <script type="text/javascript">
        $(function() {
            $('#GetDatepicker').click(function() {
                var self = $(this);

                $.get('@Url.Action("Date")', function(result) {
                    self.after(result);
                });
            });
        });
    </script>
    
}